h1{
	background: #2980b9;
	color: white;
	margin: 0;
	font-weight: normal;
	font-size: 24px;
	padding: 10px 20px;
	text-transform: uppercase;
}
.fa-plus{
	float: right;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
	 height: 40px;
	 line-height: 40px;
	 background: #fff;
	 color: #666;
}
li:nth-child(2n){
	background: #f7f7f7;
}
span{
    background: #e74c3c;
    margin-right: 20px;
    color: #fff;
    text-align: center;
    width: 0;
    height: 40px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}
li:hover span{
    width: 40px;
    opacity: 1.0;
}
input{
	font-size: 18px;
	width: 100%;
	padding: 13px 13px 13px 18px;
	box-sizing: border-box;
	color: #2980b9;
	background-color: #f7f7f7;
	border: 2px solid rgba(0,0,0,0);
}
input:focus{
	border: 2px solid #2980b9;
	outline: none;
	background: #fff;
}

body{
    font-family: 'Roboto', sans-serif;
}
body{
    background: #FC354C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#container{
	width: 360px;
	box-shadow: 0 0 3px rgb(0,0,0, 0.1);
	margin: 100px auto;
	background: #f7f7f7;
}
.connected{
	color: gray;
	text-decoration: line-through;
}

